
        .container-row {
            text-align: center;
            vertical-align: middle;
            display: flex;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        .nav {
            background-color: plum;
            height: 100vh;
            flex-grow: 1;
            box-sizing: border-box;
        }

        .container-col {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            flex-grow: 4;
        }

        .header,
        .footer {
            flex-grow: 1;
            background-color: lightskyblue;
            width: 100%;
        }

        .container-row.section {
            flex-grow: 4;
            height: auto;
        }

        .article{
            flex-grow: 4;
            background-color: grey;
        }
        .aside{
            flex-grow: 1;
            background-color: salmon;
        }
    